@import 'tailwindcss';

:root {
  --background: #ffffff;
  --background-gray: #f4f4f4;

  --foreground: #292d32;
  --foreground-gray: #a5a5a5;

  --primary: #003f62;
  --primary-hover: #043149;

  --secondary: #eda415;
  --secondary-hover: #df9b13;

  --tertiary: #e2f4ff;
  --tertiary-dark: #87bcd9;
  --tertiary-dark-hover: #6ea1bd;

  --error: #c33131;
  --success: #30bd57;
}

@theme inline {
  --color-background: var(--background);
  --color-background-gray: var(--background-gray);

  --color-foreground: var(--foreground);
  --color-foreground-gray: var(--foreground-gray);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --color-tertiary: var(--tertiary);
  --color-tertiary-dark: var(--tertiary-dark);
  --color-tertiary-dark-hover: var(--tertiary-dark-hover);

  --color-error: var(--error);
  --color-success: var(--success);

  --font-primary: var(--font-poppins);

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 90rem;
}

@layer components {
  .frame {
    padding-left: calc(var(--spacing) * 8);
    padding-right: calc(var(--spacing) * 8);

    @variant sm {
      padding-left: calc(var(--spacing) * 15);
      padding-right: calc(var(--spacing) * 15);
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
